.header {
    background-color: $alice-blue;
    padding: 10px 29.84px 9px 471.16px;
  }
  .logoTwo {
    padding: 0 0 0.03px;
    display: flex;
    align-items: flex-start;
    position: absolute;
    left: 29.84px;
    bottom: -36px;
  }
  .logo {
    margin-right: 12px;
    padding: 8.59px 3.91px 0 2.01px;
    position: relative;
  }
  .ellipse7 {
    width: 45.27px;
    height: 42.09px;
    background-color: $cornflower-blue;
    border-radius: 50%;
    position: absolute;
    right: -0.02px;
    top: 0;
  }
  .w {
    height: 62.38px;
    width: 39.35px;
    color: $alice-blue;
    display: flex;
    text-align: center;
    position: relative;
    @include mulish-26-bold;
  }
  .weCare {
    height: 28px;
    width: 124px;
    color: $black;
    display: flex;
    @include mulish-26-bold;
  }
  .navigation {
    padding: 0 141px 4px 0;
    display: flex;
    align-items: flex-start;
    position: relative;
  }
  .acceuil {
    height: 22px;
    width: 70px;
    color: $black;
    display: flex;
    margin-right: 60px;
    @include mulish-18-bold;
  }
  .trouverSonMedecin {
    height: 22px;
    width: 181px;
    color: $black;
    display: flex;
    margin-right: 60px;
    @include mulish-18-bold;
  }
  .nonServices {
    height: 22px;
    width: 112px;
    color: $black;
    display: flex;
    @include mulish-18-bold;
  }
  .rechercher {
    height: 22px;
    width: 106px;
    color: $black;
    display: flex;
    position: absolute;
    left: 784px;
    top: 0;
    @include mulish-18-bold;
  }
  .seConnecter {
    height: 22px;
    width: 290px;
    color: $black;
    display: flex;
    position: absolute;
    right: -375px;
    top: 0;
    @include mulish-18-bold;
  }
  .text {
    height: 26px;
    width: 112px;
    color: $black;
    display: flex;
    position: absolute;
    right: -547px;
    top: 0;
    @include mulish-18-bold;
  }