// This is the project stylesheet

// Colors
$alice-blue: rgba(243, 247, 255, 1);
$black: rgba(0, 0, 0, 1);
$cornflower-blue: rgba(69, 143, 246, 1);
$white: rgba(255, 255, 255, 1);

// Typographies
@mixin mulish-18-bold {
  font-family: "Mulish";
  font-size: 18px;
  font-weight: 700;
  line-height: normal;
}
@mixin mulish-18-regular {
  font-family: "Mulish";
  font-size: 18px;
  font-weight: 400;
  line-height: normal;
}
@mixin mulish-26-bold {
  font-family: "Mulish";
  font-size: 26px;
  font-weight: 700;
  line-height: normal;
}